@import "~bootstrap"
@import "some"
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
@font-face
  font-family: "Scriptina"
  src: url("../fonts/Scriptina.woff")
body
  font-family: "Alegreya",sans-serif
  margin: 0 auto
a
  text-decoration: none
html
  min-width: 480px
.container

/* HEADER BLOG */


.header
  color: white
  position: relative
  z-index: 2
  background: rgba(0, 0, 0, .3)
  padding-left: 170px
  padding-right: 170px
  .header__top
    font-weight: 400
    .header__navContent
      margin-left: 170px
      margin-right: 170px
      .header__logo
       font-family: "Scriptina",sans-serif
       h5
        font-size: 40px
        letter-spacing: 10px
  a
    color: white
    font-size: 18px
    letter-spacing: 5px
  span
    color: white
  &__links
    color: white
    div
      margin-right: 30px
  #header__Navigation
    p
      font-size: 20px
      margin: -5px 20px
#header__bot
  background: radial-gradient(circle, rgba(55,52,52,0.48503151260504207) 0%, rgba(51,48,48,1) 0%, rgba(78,76,76,0) 45%) ,  url("../img/backgroundNav.png") center center no-repeat
  background-size: cover
  color: white
  position: relative
  z-index: 1
  margin-top: -88px
  padding-top: 100px
  .header__bot
   .header__dashedLine
      padding-top: 70px
   .header__tittle
      margin-top: 200px
      h1
        font-size: 92px
        font-weight: bold
        font-family: "Playfair Display",sans-serif
        letter-spacing: 10px
   .header__subtittle
      padding-top: 70px
      font-size: 24px
      width: 100%
      letter-spacing: 5px

  .header__button
    padding-top: 75px
    margin-bottom: 214px
    button
      border: none
      background: rgba(0, 0, 0, .4)
      color: white
      letter-spacing: 5px
      font-weight: 500
  .header__img
    margin-top: 100px
    position: relative
    top: 50px
#art
  padding-top: 200px
  .art__content
    padding-bottom: 100px
    .art__leftBlock
      .art__tittle
        margin-top: -72px
        h1
          font-size: 44px
          color: #56534c
        h3
          font-size: 14px
          color: #a47d5e
      .art__subtittle
        font-size: 14px
        color: #56534c
        margin-top: 72px
      .art__chef
        padding-top: 52px
        .art__chefTittle
          font-weight: bold
          font-size: 24px
          color: #56534c
        .art__chefPhoto
          font-size: 14px
          color: #56534c
        .art__chefCitata
          font-family: "Scriptina" ,sans-serif
          font-size: 24px
          color: #56534c
          padding-top: 50px
#pancaakes
  background: url("../img/background2.png") center center no-repeat
  background-size: cover
  .pancaakes__content
    padding-top: 130px
    padding-bottom: 100px
    .pancaakes__littleBlog
      right: 100px
      bottom: 30px
    .pancaakes__center
      box-shadow: 0 0 10px rgba(0,0,0,1)
    .pancaakes__menu
      background: white
      .pancaakes__tittle
        h1
          font-size: 48px
          color: #56534c
        h3
          font-size: 14px
          color: #a47d5e
          text-transform: uppercase
      .pancaakes__subTittle
        font-size: 14px
        color: #56534c
        margin-top: 75px
      .pancaakes__raiting
        padding-top: 30px
      .pancaakes__foodMenu
        padding-top: 30px
        button
          border: solid 1px black
          border-radius: 50px
#breakfast
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../img/breakfastbg.png") center center no-repeat
  background-size: cover
  .breakfast__content
    padding: 90px 0 90px 0
    .breakfast__tittle
      h1
        font-size: 60px
        color: white
      h3
        font-size: 18px
        color: #c8a593
        text-transform: uppercase
    .breakfast__eatMenu
      margin-top: 30px
      h4
        font-size: 30px
        color: white
      p
        font-size: 16px
        color: #c2beba
      h5
        font-size: 36px
        color: #dfc691
        font-weight: 100
    .breakfast__menuBlog
      background: url("../img/bgMenu.png") center center no-repeat
      background-size: contain
      max-width: 440px
      width: 100%
      .breakfast__menuBlogContent
        background:  url("../img/border.png") center center no-repeat
        background-size: contain
      .breakfast__menuBlogText
        margin-top: 80px
        h1
          font-size: 44px
          color: #56534c
        h3
          font-size: 14px
          color: #56534c
          margin-top: 50px
          line-height: 20px
      .breakfast__button
        margin-top: 50px
        button
          font-size: 18px
          color: #a47d5e
          border: 1px solid #56534c
          border-radius: 0
          max-width: 190px
          width: 100%
    .breakfast__menu
      position: relative
      #blog__one
        position: relative
        z-index: 3
      #blog__two
        position: absolute
        bottom: 110px
        left: 40px
        z-index: 2

      #blog__three
        position: absolute
        bottom: 120px
        left: 70px

        z-index: 1

#sandwich
  background: url("../img/sandwichBG.png") center top no-repeat ,  #f3f1e9
  padding-top: 100px
  padding-bottom: 100px
  .sandwich__tittle
    h1
      font-size: 48px
      color: #56534c
    h3
      font-size: 14px
      color: #a47d5e
      text-transform: uppercase
  .sandwithc__menu
    .sandwich__leftBlock
      .sandwich__eatBlog
        h3
          font-size: 30px
          color: #a47d5e
        p
          font-size: 14px
          color: #56534c
          font-weight: bold
    .sandwich__rightBlock
      .sandwich__img
        position: relative
        z-index: 1
      .sandwich__button
        z-index: 2
        position: relative
        bottom: 70px
        right: 380px
        button
          background: white
          font-size: 18px
          color: #dfc691
          padding: 20px
          border: 1px dotted #dfc691
footer
  background: #f3f1e9
  .navbar
    ul
      a
        font-size: 14px
        color: black







